.my-tickets {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 15px;
  padding-left: 16px;
  padding-right: 13px;
  font-family: Inter, Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  display: flex;
}

.dashboard-instance-2 {
  width: 95%;
  margin-top: 1px;
  margin-bottom: 116px;
  margin-left: 1px;
}

.rectangle-38 {
  width: 90%;
  background-color: #d9d9d9;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 1px;
  padding-right: 68px;
  display: flex;
}

.created {
  margin-bottom: 1px;
}

.filter-by {
  margin-left: 360px;
}

.polygon-1 {
  width: 38px;
  height: 30px;
  object-fit: cover;
}

.flex-container {
  width: 95%;
  flex-direction: row;
  flex-basis: 54%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 14px;
  margin-left: 45px;
  display: flex;
}

.flex-container-1 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.rectangle-43, .rectangle-44 {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.flex-container-2 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1px;
  display: flex;
}

.rectangle-45, .rectangle-46 {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.flex-container-3 {
  height: 100%;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5px;
  display: flex;
}

.rectangle-47 {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.rectangle-49 {
  width: 240px;
  height: 240px;
  object-fit: cover;
  align-self: flex-end;
}

.flex-container-4 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5px;
  display: flex;
}

.rectangle-48, .rectangle-50 {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.flex-container-5 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  display: flex;
}

.rectangle-8 {
  width: 48px;
  height: 488px;
  object-fit: cover;
  border-radius: 100px;
}

.polygon-2 {
  width: 38px;
  height: 30px;
  object-fit: cover;
}

.flex-container-6 {
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: flex-end;
  margin-top: 3px;
  display: flex;
}

.rectangle-51, .rectangle-52 {
  width: 240px;
  height: 40px;
  object-fit: cover;
}

.rectangle-53 {
  width: 240px;
  height: 40px;
  object-fit: cover;
  margin-left: 1px;
}

.rectangle-54 {
  width: 240px;
  height: 49px;
  object-fit: cover;
}