.createeventLabel {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    font-weight: 400;
    
}