.events {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 21px;
  padding-left: 16px;
  font-family: Inter, Arial;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 24px;
  display: flex;
}

.dashboard-instance-2 {
  width: 95%;
  margin-top: 1px;
  margin-bottom: 70px;
  margin-left: 1px;
}

.eventsDisplay{
  word-break: break-all;
}

.categoryLabel {
  padding-top: 25px;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 10px;
  display: flex;
  color: #fff;
}

.view-by-category {
  padding-top: 40px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}

.nftGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 25px;
  visibility: hidden;
}

#nftItems {
  height: 200px;
}

.searchBar {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  height: 100%;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 45%;
  margin-top: 2px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 31px;
  display: flex;
  border: 1px solid #000000;
  width: 60%;
}
