.ownedNFTS{
  grid-template-columns: repeat(4, 1fr);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;


}

.createdNFTS{
grid-template-columns: repeat(4, 1fr);
padding-top: 25px;
padding-bottom: 25px;
padding-left: 25px;
padding-right: 25px;


}



#nftItems2{
height: 350px;
width: 350px;
}

#nftItems{
height: 350px;
width: 350px;
}

.main-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
background-color: #BFD4DB;
}

.tabs{
display: flex;
justify-content: center;
align-items: center;


padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #fff;
color: #fff;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.5rem;
font-weight: 500;
line-height: 24px;
cursor: pointer;
}

.tab1{
border-bottom: 2px solid #fff;
}